body {
   background-color: "#f8f1ef";
   color: "#302f36";
}

header {
   float: right;
   margin-right: 45px;
}

form {
   font-family: 'Quicksand', sans-serif;
   margin-top: -25px;
   font-size: .25em;
   width: 140px;
   float: right;
   margin-right: 12px;
}
.form-half {
   float: right;
   width: 50%;
}

.piece {
   width: 55px;
   height: 95px;
   position: absolute;
   top: 35px;
}

.diamond {
   mask: url(images/colors/diamond-mask.png);
   -webkit-mask:url(images/colors/diamond-mask.png);
}

.glow{
   opacity: 0.5;
}

#logo {
   font-family: 'Poiret One', sans-serif;
   text-align: right;
   letter-spacing: 1.5px;
   font-size: 2em;
   opacity: 0.0;
}

#quilt {
   opacity: 0.0;
}

#qty {
   width: 45px;
}
