/**{
   border: 1px solid red;
}*/

body {
   background-color: "#f8f1ef";
   color: "#302f36";
}

header {
   float: right;
   margin-right: 45px;
}

form {
   font-family: 'Quicksand', sans-serif;
   margin-top: -35px;
   font-size: .25em;
   width: 200px;
   float: right;
   margin-right: 12px;
}

a {
   color: inherit;
   text-decoration: none;
}

.form-whole {
   float: right;
   width: 100%;
   margin-top: 20px;
}

.form-third {
   float: right;
   width: 50%;
   margin-top: 20px;
}

.diamond {
   mask: url(images/colors/diamond-mask.png);
   -webkit-mask:url(images/colors/diamond-mask.png);
   shape-outside: url(images/colors/diamond-mask.png);
   -webkit-shape-outside:url(images/colors/diamond-mask.png);
   position: absolute;
   top: 35px;
   width: 55px;
   height: 95px;
}

.window1 {
   mask: url(images/colors/window-mask-1.png);
   -webkit-mask:url(images/colors/window-mask-1.png);
   shape-outside: url(images/colors/window-mask-1.png);
   -webkit-shape-outside:url(images/colors/window-mask-1.png);
   position: absolute;
   top: -6px;
   width: 100px;
}

.window2 {
   mask: url(images/colors/window-mask-2.png);
   -webkit-mask:url(images/colors/window-mask-2.png);
   shape-outside: url(images/colors/window-mask-2.png);
   -webkit-shape-outside:url(images/colors/window-mask-2.png);
   position: absolute;
   top: -5px;
   width: 100px;
}

.glow{
   opacity: 0.5;
}

#logo {
   font-family: 'Poiret One', sans-serif;
   text-align: right;
   letter-spacing: 1.5px;
   font-size: 2em;
   opacity: 0.0;
}

#qty {
   width: 45px;
}

#clickFerPopout {
   margin-top: 30px;
}

/*hidden radio buttons*/
#diamondzzz {
   position: absolute;
   left: -10000px;
}

#windowww1 {
   position: absolute;
   left: -10000px;
}

#windowww2 {
   position: absolute;
   left: -10000px;
}

input[name=shape]:checked + label {
   opacity: 0.5;
}
